.card {
    /* display:flex; */
    /* justify-content: -around; */
    /* Add shadows to create the "card" effect */
    align-content: space-between;
    height: 50vh;
    width: 30vh;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */
    background-size: cover;
  }
  
  /* Add some padding inside the card container */
  .container {
      display:flex;
      justify-content: space-between;
      height: 50vh;
      width: 95vw;
      padding: 2px 4vw;
  }

  .container p {
      font-size: .7em;
      margin-top: -3vh;
      color: #d89638;
    }

  .container h4 {
    /* font-size: .7em; */
    /* margin-top: .5vh; */
    color: #d89638;
    }
    
    .card-details {
        position: sticky;
        margin: 0 auto;
        vertical-align: bottom;
    height: 50%;
    /* margin-top: -25%; */
    }

.cardimage {
    margin: 0 auto;
    position: sticky;
    width: inherit;
    height: 50%;
    }
#batch {
    width: 7em;
    }
#deliver {
    width: 5em;
    margin-top:35%;
    }
#pour {
    width: 7em;
    margin-left: 30%;
    }
#mix {
    width: 4em;
    margin-top: 30%;
    margin-left: -7%;

    }
#serve {
    width: 3em;
    margin-top: 40%;
    }

#howItWorksText h4 {
    color: rgb(216, 150, 56);
    font-size: 1.5em;
    text-align: center;
}

hr {
    border: 0;
    margin-top: -2%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(216, 150, 56, 0.75), rgba(0, 0, 0, 0));
}

.howitworkstext hr {
    border: 0;
    margin-top: -2%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(216, 150, 56, 0.75), rgba(0, 0, 0, 0));
}
/* .cards {
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards__item {
    display: flex;
    padding: 1rem;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }
  }
  
  .card {
    width: 10vw;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  
  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  }
  
  .card__image--flowers {
    background-image: url(https://unsplash.it/800/600?image=82);
  }
  
  .card__image--river {
    background-image: url(https://unsplash.it/800/600?image=11);
  }
  
  .card__image--record {
    background-image: url(https://unsplash.it/800/600?image=39);
  }
  
  .card__image--fence {
    background-image: url(https://unsplash.it/800/600?image=59);
  }
  
  .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 100;
    
  }
  .card__title {
    color: pink;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  
  /* Media Queries */
  /**************************/
  /* @media screen and (max-width: 959px) and (min-width: 768px) {
    #cocktailparallax .block {padding: 40px; width:620px;}
  }
  @media screen and (max-width: 767px) {
    #cocktailparallax .block {padding: 30px; width:420px;}
    #cocktailparallax h2 {font-size:30px;}
    #cocktailparallax .block {padding: 30px;}
    #cocktailparallax .parallax-one, #cocktailparallax .parallax-two, #cocktailparallax .parallax-three {padding-top:100px; padding-bottom:100px;}
  }
  @media screen and (max-width: 479px) {
    #cocktailparallax .block {padding: 30px 15px; width:290px;}
  }  */