.personal-info {
    background-color: green;
}
.plan-details {
 background-color: red;
 /* border: 1px solid black;   */
 /* padding: -300px;  */
}
.payment-details {
    background-color: blue;
}
.order-history {
    background-color: purple;
}

.userprofile-container {
		margin-top: 5vh;
}
.userprofile {
		padding: 5% 30%;
		text-align: left;
    border: 2px solid #D89638;  
    background-color:#292E31;
    height: auto;
}

.userprofile p {
	line-height: 1.2em;
    color: #D89638;
}

.userprofile h4 {
    color: #D89638;
    letter-spacing: 5px;
}
